* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/*--------Estilização da Seção MAIN--------*/

body {
    background-color:aliceblue;
}

.banner-movie{
    width: 100%;
    height: auto;
    position: relative;    
}

.banner-movie > .movie{
    position: relative;
    height: 400px;
    width: 100%;
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    opacity: 0.4;
}
.text-movie {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: teal;
}
h1{
    margin-top: 5rem;
    text-align: center;
    color: teal;
    font-weight: 600;
}
.text-about{
    text-align: center;
    padding: 2% 4% 2% 4%;
    line-height: 2em;
    color: teal;
}
.text-about h3{
    font-style: italic;
}

#cards{
    background-color: whitesmoke;
    padding-bottom:7%;
    
}
.card{
    height: 500px;
    width: 300px;
    margin: 20px;
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
}


.card-text{
    height: 50px;
    width: 280px;
    text-align: center;
}

.card-img-top{
    
}
h5{
    font-size: 18px;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
}


/*Footer*/
.rodape{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4daaf6;
    width: 100%;
    padding: 20px 50px;
    min-height: 100px;   
}
.link-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.social-icon{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display:inline-block;
    margin: 0 10px;
    transition: 0.5s;
    text-shadow: 0 2px 5px #000;
}
.icon:hover{
    transform: translateY(-10px);
}

.menu-footer{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elementos{
    list-style: none;
}
.menu-link{
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5px;
    transition: 0.3s;
    text-shadow: 0 1px 0px #000;    
}

.menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Altura da linha abaixo do texto */
    width: 40px; /* Largura da linha*/
    border-bottom: 3px solid #f3f3f3; /* Cor e estilo da linha */
  }

  .menu-link :hover{
    transform: scale(2.2);
  }

/*-----------------Footer-----------------*/